<div class="text-centre">
  <button (click)='likeButtonClick()' class="btn btn-outline-success btn-sm  mr-3" > <img src="https://previews.123rf.com/images/captainvector/captainvector1602/captainvector160218152/52863657-smiley-face-showing-thumbs-up.jpg" alt="" srcset="" width="30%"></button>
  <button (click)='dislikeButtonClick'class="btn btn-outline-danger btn-sm mr-3" ></button>
</div>


<!-- <button class="btn btn-sm btn-success" (click)='upvote()'>{{quoty.likes}} <i class="fa fa-thumbs-up" id="like"></i></button> 
  <button class="btn btn-sm hate" id="hate" (click)='downvote()'>{{quoty.dislikes}} <i class="fa fa-thumbs-down" id="dislike"></i></button>  -->