<div class="overlay">
    <div id="intro">
        <h2 class="text-centre">THE</h2>
        <h1 class="text-centre">QUOTE</h1>
        <h2 class="texte-centre">FIELD</h2>
    </div>
    <div class="container-fluid">
       <div class="row">
           <div class="col-sm-3">
               <app-quote-form (addQuote) = "addNewQuote($event)" ></app-quote-form>
           </div>
           <div class="col-sm-9">
               <div class="all-cards">
                   <div *ngFor='let quote of quotes;let i= index' class="card" style="width: 25rem;">
                    <div class="card-body">
                        <p class="card-text" id="eleanor">{{quote.name}}</p>
                        <div *ngIf='quote.showDescription'>
                        <app-quote-detail  [quote]='quote' (isBoring)='boringQuote ($event,i)' ></app-quote-detail>
                    </div>
                        <h3 class="card-title" appStrikethrough>{{quote.title}}  <button (click)='toggleDetails(i)' class="btn btn-outline-info">More Info</button></h3>
                        
                       
                        <span class="card-subtitle mb-2">Posted by:<span id="name">{{quote.publisher}}</span><span id="date">on:{{quote.publishDate|dateCount|uppercase}}</span><span id="datecolor"></span></span>
                        

                    </div>
                </div>
               </div>
           </div>
       </div>
    </div>
</div>